<!-- templates/tracker/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <!-- Form Section -->
        <div class="col-md-4">
            <h3>Add New Expense</h3>
            <div id="expense-form-container">
                {% include 'tracker/partials/expense_form.html' %}
            </div>
        </div>

        <!-- List Section -->
        <div class="col-md-8">
            <h3>Recent Expenses</h3>
            <div id="expense-list">
                {% include 'tracker/partials/expense_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}