<!-- templates/profile.html -->
{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}
{% block content %}
<h2>My Profile</h2>
<div class="card" style="width: 18rem;">
    <img src="{{ user.profile.picture.url }}" class="card-img-top" alt="Profile Picture">
    <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="profile_picture" class="form-label">Update Picture</label>
                <input class="form-control" type="file" id="profile_picture" name="profile_picture" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
{% endblock %}